.btn-add__container {
    margin-top: 40px;
    text-align: center;
}

.btn-add {
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    transition: all 0.3s ease-in-out;
}

.btn-add:hover {
    box-shadow: 0 0 12px #7699d7;
}